---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// include relevant fonts
body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// format overlay image for splash page
.page__hero--overlay {
  min-height: 20%;
  margin-top: -10rem; /* pull hero under masthead */
  padding-top: 0rem; /* keep content readable */
  background-size: cover;
  background-position: center
}

.page__hero--overlay .wrapper {
  height: 100%;
}

.page__hero--overlay .page__hero-image {
  object-fit: cover;
}

// add logo formating at bottom
.page__footer-image {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  img {
    width: 5vw;        // logo width is 10% of viewport width
    max-width: 70px;   // optional: prevent it from getting too big
    min-width: 50px;    // optional: prevent it from getting too small
    height: auto;       // maintain aspect ratio

  }
}

// format the bibbase as it looked bad
#bibbase {
  font-size: 0.95rem;
}

.bibbase_paper {
  margin-bottom: 1.5rem;
}

.bibbase_title {
  font-weight: 600;
  color: $primary-color;
}

.bibbase_author {
  font-style: italic;
}

.bibbase_year {
  opacity: 0.6;
}

.bibbase_group{
    background-color: transparent
}